*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

 html {
  font-family: Syne, sans-serif;
  color: rgb(222,211,191);
  background-color: rgb(108,75,75);
  font-size: 14px;
  line-height: 1.5em;
}

 header {
   text-align: center;
   font-family: Ovo, serif;
 }

h1 {
font-size: 32px;
font-weight: 200px;
letter-spacing: 1.2em;
margin-bottom: 20px;
color:rgb(203,130,86);
}

h2 {
  font-size: 18px;
  color: rgb(176,203,217);
}

p {
  text-align: justify;
	line-height: 1.5em;
	margin-bottom: 20px;

}


  

  
  
